body {
    font-family: Arial, sans-serif;
    background: #fff7fb;
    margin: 0;
    padding: 0;
}

header {
    background: #ff66a3;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

#products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
}
